@import '../vars';

.Footer{
    background-color: $dark-blue;
    padding: 3.6rem 4rem 2.4rem;
    width: 100vw;
    margin-top: 10rem;
    .credits{
        color: $light-gray;
        text-align: center;
    }
}
